Makefile
Makefile.in
aclocal.m4
aclocal.m4e
conf.py
config
src/gui/core-gui
src/gui/version.tcl
constants.py
daemon/core/constants.py
stamp*
*.jpg
*.install
*.spec
*.o
.deps
build
netns
vcmd
vnoded
version.h
configure
config.*
*.cache
compile
__pycache__
*.swp
contrib/BENOCS/ifindex/src/ifindex
contrib/pmacct/pmacct-*/
contrib/quagga/quagga-*/
contrib/softflowd/
